.input {
    height: 68px;
    border-radius: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end; /*controla cómo se distribuyen y alinean los elementos a lo largo del eje principal del contenedor.*/
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #0a0a23;
    color: white;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1 px 1px white;
}